<%- include("partials/headerResult") %>

<div class="container">
    <h1 class="display-3 text-center">Results</h1>
    <hr>
</div>

<div class="container text-center">
    <% data["Search"].forEach(function(movie){ %>
        <ul class="list-group list-group-flush">
         <li class="list-group-item bg-dark"> 
             <strong><%= movie["Title"]; %></strong> - <em><%= movie["Year"]; %></em> 
         </li>
        </ul>
     <% }); %>
     <hr>
     <a href="/" class="btn btn-primary mt-2 mb-4">Search Again</a>
</div>

<%- include("partials/footer") %>